@keyframes scroll-up {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-50%); }
}

.scroll-up {
  animation: scroll-up 40s linear infinite;
} 

@keyframes scroll-down {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0%); }
}

.scroll-down {
  animation: scroll-down 40s linear infinite;
}


